.v{
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 32px;
    display: flex;
}
.me-2{
    border: none;
    border-radius: 10px;
    height: 32px;
}
.click{
    width: 50px;
    border: none;
    background-color: #FFFFFF;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-left: 1px solid #dfdfdf;
    color: rgba(0, 0, 0, 0.546);
}